<div class="container-lg login">
    <div class="container login_logo">
        <app-logo></app-logo>
        <div id="img-container" class="d-flex justify-content-center">
            <img src="../../../assets/img/img-main.png"
                    alt="Img inicio de sesión"  
                    id="img-phone">
        </div>
    </div>
    <div class="login_formulario" >
        <div class="login_formulario-container">
            <app-login-form></app-login-form>
        </div>
    </div>
    <div class="login_pie container">
        <app-footer></app-footer>
    </div>
</div>
