<div class="telefonos__modal">
    <div class="telefonos__modal-dialog">
        <div class="telefonos__modal-content">
            <div class="telefonos__modal-header">
                <div class="telefonos__modal-title">
                    <h1>teléfonos</h1>
                </div>
            </div>
            <!-- <hr> -->
            <div class="telefonos__modal-body">
                <div class="telefonos__modal-contacto">
                    <p class="titulo">osssb</p>
                    <p class="contacto">11-2761-0695</p>
                </div>
                <hr>
                <div class="telefonos__modal-contacto">
                    <p class="titulo">urgencias y emergencias</p>
                    <p class="contacto">0800-555-6722</p>
                    <p class="contacto">0810-888-3226</p>
                </div>
                <hr>
                <div class="telefonos__modal-contacto">
                    <p class="titulo">salud mental</p>
                    <a href="" class="contacto-link">formularias appsi</a>
                    <p class="contacto">11-6374-4900</p>
                    <p class="subtitulo">atención las 24hs</p>
                    <p class="contacto">11-2257-2258</p>
                </div>
                <hr>
                <div class="telefonos__modal-contacto">
                    <p class="titulo">guardia odontológica las 24hs - s.i.a.c.o</p>
                    <p class="contacto">5252-3400</p>
                    <p class="direccion">sarmiento 746 - <span>caba</span></p>
                </div>
            </div>
            <div class="telefonos__modal-footer"></div>
        </div>
    </div>
</div>
